/*  폰트설정
font-family: 'Do Hyeon', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/
@media (min-width: 1281px) {
    /*base.html*/
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
        background-color:#f7f7f7;
    }
    #wrapper{
        position:relative;
        min-height:100%;
    }


    #nav{
        width:100%;
        min-width: 1280px;
        top:0;
        margin:0;
        padding:0;
        position:fixed;
        z-index: 3;
    }

    #section{
        top:50px;
        background-color: #f7f7f7;
        margin: 70px 5px 5px 5px;
        width: 99%;
        min-width: 1280px;
        text-align: left;
        padding: 5px;


    }
    #footer {
        position: absolute;
        bottom: -5%;
        width: 99%;   
        padding: 5px;
        background: #f7f7f7;
    }

    /*index.html*/
    .home_img{
        width: fit-content;
        height:800px;
    }
    .home_img img{
        width:100%;
        height:100%;
        object-fit:cover;
        opacity:0.5;
        position:relative;
    }
    .text-bar a{
        font-family: 'Noto Sans KR', sans-serif;
        top:100px;
        left:140px;
        font-size: 50px;
        font-weight: 500;
        position:absolute;
        z-index: 1;
    }
    .text-bar p{
        font-family: 'Noto Sans KR', sans-serif;
        top:300px;
        left:140px;
        font-size: 30px;
        font-weight: 500;
        position:absolute;
        z-index: 1;
    }
    .text-bar button{
        top:300px;
        left:160px;
        margin-top:100px;
        position: absolute;
        z-index: 1;
    
        font-family: 'Noto Sans KR', sans-serif;
        width:200px;
        height: 60px;
        color:#fff;
        background: #487ed4;
        font-size: 33px;
        font-weight: 500;
        border:none;
        border-radius: 5px;
        box-shadow: 0 4px 16px rgba(0,79,255,0.3);
        transition:0.3s;
        float: right;
        transform: translate(-10%,-10%);
    }

    .text-bar button:focus {
    outline:0;
    }

    .text-bar button:hover{
        background: #487ed4;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,79,255,0.6);
    }


    /*blog.html*/
    .search-form{
        padding-top: 10px;
        padding-left: 10px;
        border-top: 1px solid #ddd;
        margin: 15px 15px 15px 15px;
        position: relative;
    }
    .search-input{
        font-size: 15px;
        width: 400px;
        padding: 10px;
        border: 1px solid #1b5ac2;
        outline: none;
        float: left;
        border-radius: 2px solid #1b5ac2;
    }
    .search-btn{
        border-top: 15px;
        width: 160px;
        height: 45px;
        border: 1px solid #1b5ac2;
        background: #1b5ac2;
        outline: none;
        float: left;
        color: #ffffff
    }
    .sidebar {
        text-align: center;
        background: #f7f7f7;
        top:550px;
        right: 40px;
        width : 322px;
        border : 1px solid #ddd;
        border-radius: 10px;
        float: right;
        flex-direction: column;
        z-index: 1;
        display: inline-block;
        position:sticky;
    }

    .sidebar a{
        border-bottom: 2px solid #ddd;
        margin:0 1px 0 1px;
        font-size: 20px;
        text-align: center;
        /* text-decoration: none; */
    }
    
    #favorite {
        /*border: 1px solid black;*/
        font-size: 20px;
        font-weight: bold;
        height: 150px;
        overflow-y: scroll;
        white-space: nowrap;
        background-color: #f7f7f7;
        /* line-height: 30px; */
    }
    #favorite::-webkit-scrollbar{ 
        display: none;
    }
    
    .adfit {
        /*border: 1px solid rgb(141, 131, 131);*/
        height: 100px;
        bottom:0;
        float: right;
        right: 40px;
        z-index: 1;
    }
    
    .check_box{
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 2px;
        background-color: #f7f7f7;
        height: 330px;
        overflow-x: hidden;
    }

    .check_box a {
        margin: 5px 0 3px 10px;
    }
    
    .search_test{
        margin-top: 30px;
        width: 30%;
        height: 50%;
    }
    .job, .region, .preferential {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    /*Chrome, Safari, Opera에서 스크롤바 숨기기*/
    .job::-webkit-scrollbar{ 
        display: none;
    }
    .region::-webkit-scrollbar{
        display: none;
    }
    .preferential::-webkit-scrollbar{
        display: none;
    }

    /*IE, Edge, Firefox에서 스크롤바 숨기기*/
    .job{ 
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .region{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .preferential{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .box {
        clip-path: polygon(50% 12%, 61% 35%, 86% 35%, 68% 57%, 73% 82%, 50% 70%, 27% 82%, 32% 57%, 14% 35%, 39% 35%);
        background-color: #D3D3D3;
        height: 35px;
        width: 35px;
    }

    /* posting.html */
    .detail_form1{
        border: 1px solid #ccc;
    }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
        background-color:#f7f7f7;
    }

    #wrapper{
        position:relative;
        min-height:100%;
    }

    #section {
        top:50px;
        background-color: #f7f7f7;
        margin: 10px 5px 5px 5px;
        width: 99%;
        max-width: 1275px;
        text-align: left;
        padding: 5px;
    }

    #footer {
        position: absolute;
        bottom: -10%;
        width: 99%;   
        padding: 5px;
        background: #f7f7f7;
    }

    /*index.html*/
    .home_img{
        /*max-width: 1260px;*/
        width: auto;
        height:755px;
    }
    .home_img img{
        width:100%;
        height:100%;
        object-fit:cover;
        opacity:0.5;
        position:relative;
    }
    .text-bar a{
        font-family: 'Noto Sans KR', sans-serif;
        top:150px;
        left:100px;
        font-size: 40px;
        font-weight: 500;
        position:absolute;
        z-index: 1;
    }
    .text-bar p{
        font-family: 'Noto Sans KR', sans-serif;
        top:300px;
        left:100px;
        font-size: 20px;
        font-weight: 500;
        position:absolute;
        z-index: 1;
    }
    .text-bar button{
        top:260px;
        left:120px;
        margin-top:100px;
        position: absolute;
        z-index: 1;
    
        font-family: 'Noto Sans KR', sans-serif;
        width:180px;
        height: 50px;
        color:#fff;
        background: #487ed4;
        font-size: 28px;
        font-weight: 500;
        border:none;
        border-radius: 5px;
        box-shadow: 0 4px 16px rgba(0,79,255,0.3);
        transition:0.3s;
        float: right;
        transform: translate(-10%,-10%);
    }

    .text-bar button:focus {
    outline:0;
    }

    .text-bar button:hover{
        background: #487ed4;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,79,255,0.6);
    }

    /* blog.html */

    .search-form{
        padding-top: 10px;
        padding-left: 10px;
        border-top: 1px solid #ddd;
        margin: 15px 15px 15px 15px;
    }
    .search-input{
        font-size: 15px;
        width: 400px;
        padding: 10px;
        border: 1px solid #1b5ac2;
        outline: none;
        float: left;
        border-radius: 2px solid #1b5ac2;
    }
    .search-btn{
        border-top: 15px;
        width: 160px;
        height: 45px;
        border: 1px solid #1b5ac2;
        background: #1b5ac2;
        outline: none;
        float: left;
        color: #ffffff
    }
    .sidebar {
        text-align: center;
        background: #f7f7f7;
        top:490px;
        right: 60px;
        width : 322px;
        border : 1px solid #ddd;
        border-radius: 10px;
        float: right;
        flex-direction: column;
        z-index: 1;
        display: inline-block;
        position:sticky;
        
    }
    .sidebar a{
        border-bottom: 2px solid #ddd;
        margin:0 1px 0 1px;
        font-size: 20px;
        text-align: center;
        /* text-decoration: none; */
    }
    #favorite {
        /*border: 1px solid black;*/
        font-size: 20px;
        font-weight: bold;
        height: 100px;
        overflow-y: scroll;
        white-space: nowrap;
        background-color: #f7f7f7;
        /* line-height: 30px; */
    }
    #favorite::-webkit-scrollbar{ 
        display: none;
    }
    
    .adfit {
        /*border: 1px solid rgb(141, 131, 131);*/
        height: 100px;
        bottom:0;
        float: right;
        right: 40px;
        z-index: 1;
    }
    .check_box{
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 2px;
        background-color: #f7f7f7;
        max-width: 1210px;
        position: relative;
        object-fit:cover;
        display: block;
        overflow-x: hidden;
    }

    .check_box a {
        margin: 5px 0 3px 10px;
    }
    .job, .region, .preferential {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    /*Chrome, Safari, Opera에서 스크롤바 숨기기*/
    .job::-webkit-scrollbar{ 
        display: none;
    }
    .region::-webkit-scrollbar{
        display: none;
    }
    .preferential::-webkit-scrollbar{
        display: none;
    }
    /*IE, Edge, Firefox에서 스크롤바 숨기기*/
    .job{ 
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .region{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .preferential{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .box {
        clip-path: polygon(50% 12%, 61% 35%, 86% 35%, 68% 57%, 73% 82%, 50% 70%, 27% 82%, 32% 57%, 14% 35%, 39% 35%);
        background-color: #D3D3D3;
        height: 35px;
        width: 35px;
    }
}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
        background-color:#f7f7f7;
    }

    #wrapper{
        position:relative;
        min-height:100%;
    }

    #section {
        top:50px;
        background-color: #f7f7f7;
        margin: 10px 5px 5px 5px;
        width: 99%;
        max-width: 1024px;
        text-align: left;
        padding: 5px;
    }

    #footer {
        position: absolute;
        bottom: -10%;
        width: 99%;   
        padding: 5px;
        background: #f7f7f7;
    }

    /*index.html*/
    .home_img{
        width: auto;
        height:755px;
    }
    .home_img img{
        width:100%;
        height:100%;
        object-fit:cover;
        opacity:0.5;
        position:relative;
    }
    .text-bar a{
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: -682px;
        margin-left: 90px;
        display: flex;
        font-size: 40px;
        font-weight: 500;
        position:relative;
        z-index: 2;
    }
    .text-bar p{
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 15px;
        margin-left: 90px;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        position:relative;
        z-index: 2;
    }
    .text-bar button{
        display: flex;
        margin-top:40px;
        margin-left: 100px;
        /*margin-right: 750px;*/
        position: absolute;
        z-index: 2;
    
        font-family: 'Noto Sans KR', sans-serif;
        width:140px;
        height: 50px;
        color:#fff;
        background: #487ed4;
        font-size: 28px;
        font-weight: 500;
        border:none;
        border-radius: 5px;
        box-shadow: 0 4px 16px rgba(0,79,255,0.3);
        transition:0.3s;
        float: right;
        transform: translate(-10%,-10%);
    }

    .text-bar button:focus {
    outline:0;
    }

    .text-bar button:hover{
        background: #487ed4;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,79,255,0.6);
    }
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/
@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
        background-color:#f7f7f7;
    }

    #wrapper{
        position:relative;
        min-height:100%;
    }

    #section {
        top:50px;
        background-color: #f7f7f7;
        margin: 10px 5px 5px 5px;
        width: 99%;
        max-width: 767px;
        text-align: left;
        padding: 5px;
    }

    #footer {
        position: absolute;
        bottom: -10%;
        width: 99%;   
        padding: 5px;
        background: #f7f7f7;
    }

    /*index.html*/
    .home_img{
        width: auto;
        height:755px;
    }
    .home_img img{
        width:100%;
        height:100%;
        object-fit:cover;
        opacity:0.5;
        position:relative;
    }
    .text-bar a{
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: -682px;
        margin-left: 90px;
        display: flex;
        font-size: 40px;
        font-weight: 500;
        position:relative;
        z-index: 2;
    }
    .text-bar p{
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 15px;
        margin-left: 90px;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        position:relative;
        z-index: 2;
    }
    .text-bar button{
        display: flex;
        margin-top:40px;
        margin-left: 100px;
        /*margin-right: 750px;*/
        position: absolute;
        z-index: 2;
    
        font-family: 'Noto Sans KR', sans-serif;
        width:140px;
        height: 50px;
        color:#fff;
        background: #487ed4;
        font-size: 28px;
        font-weight: 500;
        border:none;
        border-radius: 5px;
        box-shadow: 0 4px 16px rgba(0,79,255,0.3);
        transition:0.3s;
        float: right;
        transform: translate(-10%,-10%);
    }

    .text-bar button:focus {
    outline:0;
    }

    .text-bar button:hover{
        background: #487ed4;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,79,255,0.6);
    }

    }

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
        background-color:#f7f7f7;
    }

    #wrapper{
        position:relative;
        min-height:100%;
    }

    #section {
        top:50px;
        background-color: #f7f7f7;
        margin: 10px 5px 5px 5px;
        width: 99%;
        max-width: 479px;
        text-align: left;
        padding: 5px;
    }

    #footer {
        position: absolute;
        bottom: -10%;
        width: 99%;   
        padding: 5px;
        background: #f7f7f7;
    }

    /*index.html*/
    .home_img{
        width: auto;
        height:755px;
    }
    .home_img img{
        width:100%;
        height:100%;
        object-fit:cover;
        opacity:0.5;
        position:relative;
    }
    .text-bar a{
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: -682px;
        margin-left: 90px;
        display: flex;
        font-size: 40px;
        font-weight: 500;
        position:relative;
        z-index: 2;
    }
    .text-bar p{
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 15px;
        margin-left: 90px;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        position:relative;
        z-index: 2;
    }
    .text-bar button{
        display: flex;
        margin-top:40px;
        margin-left: 100px;
        /*margin-right: 750px;*/
        position: absolute;
        z-index: 2;
    
        font-family: 'Noto Sans KR', sans-serif;
        width:140px;
        height: 50px;
        color:#fff;
        background: #487ed4;
        font-size: 28px;
        font-weight: 500;
        border:none;
        border-radius: 5px;
        box-shadow: 0 4px 16px rgba(0,79,255,0.3);
        transition:0.3s;
        float: right;
        transform: translate(-10%,-10%);
    }

    .text-bar button:focus {
    outline:0;
    }

    .text-bar button:hover{
        background: #487ed4;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0,79,255,0.6);
    }
}


